.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url(https://plus.unsplash.com/premium_photo-1663852297654-56d979cf72d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.loginTitle{
    font-size: 50px;
}
.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;

}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;

}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 5px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
}

.loginRegisterButton:hover{
    background-color:rgb(13, 51, 51);
}

.loginButton:hover{
    background-color:red;
}